@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body{
    /*
    For entire body related tokens: sets font family, take away margin, change bckgrnd color, auto height
    */
    font-family: 'Roboto Condensed', sans-serif;
    background: #f5f5f5;
    height: auto;
    max-width: 1300px;
    margin: auto; /*always stays in the middle*/
    box-shadow: 30px 0px 40px rgba(0,0,0,0.1), 
    -30px 0px 40px  rgba(0,0,0,0.2); /*horizontal offset vertical offset and color
    rgba: takes in the red green bluee value and the alpha value which controls the lightness of it 0.1 will make it slightly transparent
    then bot top left right pixels is -30 0 40 px the last rgba controls shadow density etc
    */
}
.landing-image{
    /*pull unsplash for static img: to use an img off unsplash simply use:
    https://source.unsplash.com/WLUHO9A_xik but after .com/ input the actual 
    picture's id code found in the associated url
    */
    background-image: url("color.jpg");
    opacity: .7;
    background-position: center;
    background-size: cover; /*want to cover left to right*/
    background-repeat: no-repeat;
    height: 50vh;
    flex: 0 1 60vw;
    margin: 0;
    /**/

}
.btn {
    padding: 0.5rem 2rem; /*top bot val and left right val*/
   
    display: inline-block;/*to avoid overlapping use this but still 
    a lil tight so lets add more space with margin below*/
    margin: 2rem 0 0;/*for top morgin*/
    border-radius: 750px;/*want border rounded*/
    border-style: none;
    text-decoration: none;/*take away ugly underline on hyperlink*/
    color: #f5f5f5; /*change link color to almost black*/
    transition: background 800ms ease; /*add transition to background where it slowly turns to that color*/
    background: #333;
}
.btn:hover{
    background:#b4b4b4;
}
#topSection{
    text-align: center;
}

#topSection h1{
    padding: 0.2rem;
    color: #f5f5f5;
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
}
#topSection h2{
    padding: 0.2rem;
    color: #f5f5f5;
    font-weight: 200;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0;
}
#botSection{
    
}
#GameRules{
    text-align: left;
    padding: 3rem;
}
#headerRules h1{
    padding: 1.5rem;
    
}
#headerTitle h1{
    text-align: center;
}
footer{
    text-align: center;
    padding: 1rem 1rem;
    margin: auto;
    color: #333;
}
#GameWindow{
    box-shadow: 30px 0px 40px rgba(0,0,0,0.1), 
    -30px 0px 40px  rgba(0,0,0,0.2);
    width: 75%;
    height: 500px;
    margin: auto;
    text-align: center;
}
#myCanvas{
    width=75%;
    height: 400px;
    margin: auto;
    border-style: none;


}
/*from source code*/
  .fakeButtons {
    height: .625rem;
    width: .625rem;
    border-radius: 50%;
    border: .0625rem solid #000;
    position: relative;
    top: .375rem;
    left: .375rem;
    background-color: #ff3b47;
    border-color: #9d252b;
    display: inline-block;
  }
  
  .fakeMinimize {
    left: .6875rem;
    background-color: #ffc100;
    border-color: #9d802c;
  }
  
  .fakeZoom {
    left: 1rem;
    background-color: #00d742;
    border-color: #049931;
  }
  
  .fakeMenu {
    width:300px; 
    margin:0 auto;
    box-sizing: border-box;
    height: 1.5625px;
    background-color: #bbb;
    padding: 1rem;
    border-top-right-radius: .3125rem;
    border-top-left-radius: .3125rem;
  }
  
  .fakeScreen {
    width:300px; 
    margin:0 auto;
    padding: 20px;
    background-color: #151515;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  #headerRules p {
    position: relative;
    left: 50%;
    margin-left: -8.5rem;
    text-align: left;
    font-size: 1rem;
    font-family: monospace;
    white-space: nowrap;
    overflow: auto;
    width: 100%;
  }
  
  span {
    color: #fff;
    font-weight: bold;
  }
  .line1 {
    color: #9CD9F0;
    -webkit-animation: type .5s;
    -moz-animation: type .5s;
    -o-animation: type .5s;
    animation: type .5s;
  }
  .cursor1 {
    -webkit-animation: blink 1s 2s 2;
    -moz-animation: blink 1s 2s 2;
    -o-animation: blink 1s 2s 2;
    animation: blink 1s 2s 2;
  }
  .line2 {
    color: #CDEE69;
    -webkit-animation: type .5s;
    -moz-animation: type .5s;
    -o-animation: type .5s;
    animation: type .5s;
  }
  .cursor2 {
    -webkit-animation: blink 1s 2s 2;
    -moz-animation: blink 1s 2s 2;
    -o-animation: blink 1s 2s 2;
    animation: blink 1s 2s 2;
  }
  .line3 {
    color: #E09690;
    -webkit-animation: type .5s;
    -moz-animation: type .5s;
    -o-animation: type .5s;
    animation: type .5s;
  }
  .cursor3 {
    -webkit-animation: blink 1s 2s 2;
    -moz-animation: blink 1s 2s 2;
    -o-animation: blink 1s 2s 2;
    animation: blink 1s 2s 2;
  }
  .line4 {
    color: #fff;
    -webkit-animation: type .5s ;
    -moz-animation: type .5s ;
    -o-animation: type .5s ;
    animation: type .5s ;
  }
  .cursor4 {
    -webkit-animation: blink 1s 2s 2;
    -moz-animation: blink 1s 2s 2;
    -o-animation: blink 1s 2s 2;
    animation: blink 1s 2s 2;
  }
  .line5 {
    color: #fff;
    -webkit-animation: type .5s ;
    -moz-animation: type .5s ;
    -o-animation: type .5s ;
    animation: type .5s ;
  }
  .cursor5 {
    -webkit-animation: blink 1s 2s infinite;
    -moz-animation: blink 1s 2s infinite;
    -o-animation: blink 1s 2s infinite;
    animation: blink 1s 2s infinite;
  }
  
/*screen sizes 500 px and up*/
/*a media quiery requires @ symbol then media kinda like function and takes in parameter of either 
min width or max width, since mobile is first we do min width 500 px*/
@media (min-width: 500px){
    #landing-image{
        height: 100vh;
    }
    /*we want button to be bigger for pages 700px or >*/
    /*we need media query again for this*/
    /*screen size 700px and up*/
    @media(min-width: 700px){
        /*take button class to add extra padding*/
        .btn{
            padding: 1rem 3rem;
        }
    }
}